.intro {
  background-image: url(../../images/desktop/image-hero.jpg);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.text-intro {
  color: #ffffff;
  border: 5px solid #ffffff;
  font-weight: 400;
  max-width: 600px;
  text-transform: uppercase;
  font-family: "Josefin Sans", serif;
  padding: 1rem;
  font-size: 4.5rem;
  margin: 30vh 10vw 15vh 10vw;
}

@media (max-width: 700px) {
  .text-intro {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .text-intro {
    font-size: 1.5rem;
    text-align: center;
  }
}
